<ion-header>
  <ion-toolbar>
    <ion-title>
      RPS Game
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-button expand="full" (click)="check($event)">
    {{game.playOptions[0]}}
  </ion-button>
  <ion-button expand="full" (click)="check($event)">
    {{game.playOptions[1]}}
  </ion-button>
  <ion-button expand="full" (click)="check($event)">
    {{game.playOptions[2]}}
  </ion-button>

  <div class="ion-padding">
      <ion-label>{{game.getComputer()}}</ion-label>
  </div>

  <div class="ion-padding">
    <ion-label>{{game.getResult()}}</ion-label>
  </div>

  <div class="ion-padding">
    <ion-label>Winns (you/phone):{{game.getPlayerWinns()}}/{{game.getComputerWinns()}}</ion-label>
  </div>

</ion-content>